{{ {
  'server': {'externalDomain': immich_url, 'publicUsers': false},
  'passwordLogin': {'enabled': false},
  'oauth': {
    'enabled': true,
    'issuerUrl': immich_issuer,
    'clientId': 'immich',
    'clientSecret': oidc_clients.immich.secret,
    'scope': immich_oidc_portees,
    'tokenEndpointAuthMethod': 'client_secret_post',
    'signingAlgorithm': 'RS256',
    'profileSigningAlgorithm': 'none',
    'autoRegister': true,
    'autoLaunch': true,
    'buttonText': 'Se connecter',
    'storageLabelClaim': 'preferred_username',
    'roleClaim': immich_claim_role,
    'storageQuotaClaim': immich_claim_quota,
    'defaultStorageQuota': immich_quota_defaut,
    'mobileOverrideEnabled': false
  },
  'newVersionCheck': {'enabled': false}
} | to_nice_json }}
