# {{ ansible_managed }}
[Unit]
Description=Vérifie toutes les 5 minutes si le site {{ site.key }} a été republié

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
